
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Test_Application.Models.UserModel

<h2>Details</h2>

<h2>User Submitted Information</h2>

<p><strong>Name:</strong> @Model.Name</p>
<p><strong>Email:</strong> @Model.Email</p>
<p><strong>Age:</strong> @Model.Age</p>

