
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.DepartmentID</td>
            <td>@item.Name</td>
            <td>
                <a href="/department/edit/@item.DepartmentID">Edit</a>
                <a href="/department/details/@item.DepartmentID">Details</a>
            </td>
        </tr>
    }
</table>