
@{
    ViewBag.Title = "RolesAction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>RolesAction</h2>

<form method="post" action="/Home/RolesAction">
        <lable>Roles</lable>
        <input type="checkbox" placeholder="User"/>
        <input type="checkbox" placeholder="Admin" />
        <button type="submit">submit</button>
</form>

