

@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Success</h2>
<lable>First Name :</lable>
<p>@ViewBag.fname</p>
<lable>Last Name :</lable>
<p>@ViewBag.lname</p>
